html {
    margin: 0px;
    overflow-x: hidden;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 27.5px;
}
ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.nav {
    float: left;
}
p b {
    color: red;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25pt;
}
.infoBox {
    margin-left: 40px; 
}
.iBox {
    border: 5px solid white;
    border-radius: 20px;
    float: left;
    flex: 70%;
    width: max-content;
}
.infoRow {
    display: flex;
}
.infoRow:after {
    content: "";
    display: table;
    clear: both;
}
.topHeader {
    text-align: center;
    line-height: 8px;
}
.topSubHeader {
    text-align: center;
    font-style: italic;
    line-height: 0px;
}
.row {
    display: flex;
    text-align: center;
}
.column {
    flex: 50%;
    padding: 10px;
    font-size: 16pt;
}




.txtbox {
    flex: 50%;
    border: hotpink; /*Remove later; just for viewing/dev work*/
    border-style: dotted;
}
.innerbox {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.desc {
    padding-left: 20px;
}